*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    background: #ff8989;
    background: linear-gradient(300deg, #a9ff68 0%, #ff8989 100%);
  
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
  }
  main {
    border: solid 2px gray;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
  
  main > button {
    background-color: #CDF5B8;
    width: 10rem;
    border: solid 1px gray;
    border-radius: 5px;
    color: gray;
    width: 300px;
    margin: 20px;
    text-transform: uppercase;
    font-size: 10rem;
    opacity: 1;
    transition: 0.3s;
  }
  
  main > button:hover {
    background-color: #FBB49D;
    opacity: 0.6;
  }

  #counter {
    font-size: 10rem;
    margin: 1rem;
  }

  #total {
    padding-bottom: 20px;
  }